#page-container {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 24px;
}

#interface {
  padding: 0 50px 20px 50px;
  background-color: var(--grey-color);
  border: var(--black-color) solid 2px;
  border-radius: 10px;
}

p {
  cursor: default;
}
#back-button{
  transform: translateX(-25px) translateY(-5px);
}
#back-button:hover{
  transform: translateX(-27px) translateY(-7px);
}
#back-button:active{
  transform: translateX(-25px) translateY(-5px);
}

#interface-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  * {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

#interface-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 30px;
  padding: 10px;
  width: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--black-color);
  border-radius: 5px;
  color: var(--black-color);
  font-weight: bold;
  font-size: 16px;
  background-color: var(--green-color);
}

button:hover {
  box-shadow: 5px 5px 5px black;
  transition: .2s;
  transform: translateY(-2px) translateX(-2px);
}

button:active {
  box-shadow: none;
  transition: .2s;
  transform: translateY(2px) translateX(2px);
}

.red-border {
  border-color: var(--red-color);
}
