#title {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
  font-weight: bold;
  font-size: 18px;
}

#bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#accept, #cancel {
  padding: 10px;
  width: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--black-color);
  color: var(--black-color);
  font-weight: bold;
  font-size: 16px;
  transition: .2s;
}

#accept:hover {
  background-color: var(--green-color);
}

#cancel:hover {
  background-color: var(--red-color);
}

#accept:active, #cancel:active {
  background-color: var(--white-color);
}
