/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
  --yellow-color: #E0C327;
  --white-color: #D9D9D9;
  --red-color: #BC1E1E;
  --light-red-color: #DB3F3F;
  --black-color: #1c1c1d;
  --dark-color: #1E1E1E;
  --grey-color: #2F2F2F;
  --dark-yellow: #F6AA00;
  --effect-color: #FCD000;
  --green-color: #2dd36f;
}

ion-modal.custom-field-modal::part(content) {
  --height: 280px;
  position: absolute;
  top: 35%;
  --width: 700px;
  border-radius: 25px;
  display: block;
}
ion-modal.custom-hive-modal::part(content) {
  --height: 540px;
  position: absolute;
  top: 25%;
  --width: 700px;
  border-radius: 25px;
  display: block;
}
ion-modal.custom-edit-hive-modal::part(content) {
  --height: 745px;
  position: absolute;
  top: 15%;
  --width: 700px;
  border-radius: 25px;
  display: block;
}
ion-modal.custom-create-account-modal::part(content) {
  --height: 225px;
  position: absolute;
  top: 15%;
  --width: 700px;
  border-radius: 25px;
  display: block;
}
ion-modal.custom-rank-modal::part(content) {
  --height: 270px;
  position: absolute;
  top: 15%;
  --width: 700px;
  border-radius: 25px;
  display: block;
}

#add-button {
  height: 65px;
  width: 65px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 36px;
  border-radius: 100px;
  color: var(--black-color);
  background-color: var(--white-color);
  transition: .2s;
}
#add-button:hover {
  background-color: var(--yellow-color);
  transform: translateY(-2px) translateX(-2px);
}

#add-button:active {
  transform: translateY(2px) translateX(2px);
  background-color: var(--dark-color);
  color: var(--white-color);
}
#back-button {
  cursor: pointer;
  color: var(--red-color);
  font-weight: bold;
  width: 80px;
  transition: .2s;
  user-select: none;
}

#back-button:hover {
  transform: translateY(-2px) translateX(-2px);
}

#back-button:active {
  transform: translateY(2px) translateX(2px);
}
